/*Header formatting*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px; 40px;
  color: navy;
}

.leftHeader {
  text-align: left;
}

.rightHeader {
  text-align: right;
}

.leftHeader:hover {
  text-decoration: underline;
}

/*main page formatting*/
main {
  padding: 30px 25px;
}

.page-title {
  color: black;
  margin-bottom: 5px;
  margin-top: 0;
  text-align: center;
  font-size: 35px;
}

main p {
  color: black;
  font-size: 20px;
  text-align: center;
}

.btn {
  margin: auto;
  outline: none;
  border: none;
  display: inline-block;
  padding: 10px 15px;
  background: navy;
  color: white;
  font-size: 2.2rem;
  border-radius: 15px;
  position: relative;
}

.btn:hover {
  opacity: 0.5;
}

.btn:active {
  box-shadow: 0 0px var(--grey);
  top: 0;
}

.hidden {
  display: none;
}

h2 {
  color: black;
  font-size: 15px;
  text-align: left;
  margin-left: 35px;
}

.questionFormat {
  flex: 1;
  margin: 0 20px 20px;
}

ul {
  list-style: none;
}

footer {
  color: black;
  font-size: 10px;
  text-align: center;
}